/* CONTAINER */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
.container-nav-open {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
.container {
  width: 92vw;
}
.container-nav-open {
  width: 80vw;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* .container {
    width: 200px;
  } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* .container {
    width: 200px;
  } */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* .container {
    width: 200px;
  } */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* .container {
    width: 200px;
  } */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* .container {
    width: 92vw;
  } */
  /* .container-nav-open {
    width: 80vw;
  } */
}
