/* 

  CONTENT COLORS

*/
.content-background-light {
  background-color: #f7f7f7;
}
.content-background-dark {
  background-color: black;
}

/* 

  BUTTON COLORS
  
*/
/* 
.button-light 
.button-dark  
*/

/* 

  TEXT COLORS
  
*/
.text-light {
  color: #000000;
}
.text-dark {
  color: #ffffff;
}
