.header-brand {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
}

.header-right-content {
  padding: 0px;
  height: 48px;
  line-height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
