/* .table-header {
  background-color: #fafafa;
}
.table {
  display: block;
  width: 100%;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
} */
